.footer {
    width: 100%;
    background-color: #EAFBFF;
    margin-top: 100px;
}

.footer h3 {
    color: #00788A;
}

.footer .header {
    color: #191C2F;
    font-weight: bold;
}

.footer a {
    color: #083038;
}

